---
---

@import "minima";
@import "syntax-highlighting";

body {
  display: block;
}

.site-header, .site-footer {
  max-width: $content-width;
  margin: 0 auto;
}

.site-header {
  border-top: 0;
}

pre, code {
  background-color: white;
}

object {
  max-width: 100%;
  vertical-align: middle;
}